/* Based on code from Mozilla: https://developer.mozilla.org/en-US/docs/Web/API/WebRTC_API/Taking_still_photos */

#video {
  width:320px;
  height:240px;
}

#video, #photo {
  border: 2px solid black;
  /* box-shadow: 2px 2px 3px black; */
}

#canvas {
  display:none;
}

#imgData, #sizeData {
  display: none;
}

.camera, output {
  width: 340;
  display:inline-block;
}

#startbutton {
  display:block;
  position:relative;
  margin-left:auto;
  margin-right:auto;
  bottom:32px;
  background-color: rgba(0, 150, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.7);
  font-size: 14px;
  color: rgba(255, 255, 255, 1.0);
}

.contentarea {
  text-align: center;
  font-size: 16px;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  /* margin:0 auto; */
}