/* video, canvas {
  height: 360px;
  width: 640px;
} */

canvas {
  display:none;
}

#startbutton {
  display:block;
  margin:auto;
}

.contentarea {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}